@import 'base/variables';
@import 'base/mixin';

* {
   font-family: 'Museo Sans Cyrl', sans-serif;
}

.container {
   position: relative;
   max-width: 950px;
   margin: 0 auto;
}

// .container {
//    border: 3px solid black
// }

// section {
//    border: 4px solid darkblue;
// }

// div,
// form {
//    border: 1px solid silver;
// }

// img {
//    border: 3px solid rgb(119, 255, 0);
// }

a {
   color: white
}

a:hover {
   color: $main-color
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/title';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';


@import 'blocks/media';