@import 'base/variables';
@import 'base/mixin';

* {
   font-family: 'Museo Sans Cyrl', sans-serif;
}

.container {
   max-width: 950px;
   margin: 0 auto;

   border: 1px solid black
}

div {
   border: 1px solid silver;
}

a {
   color: white
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons'